{}
body{
	background-color: #C7F6FB  ;
	text.margin-left: 75px;
	text.margin-right: 75px;
	tex.margin-top: 20px;
	tex.margin-bottom: 20px;
}
h1{
	font-family: 'Galada', cursive;
text-align: center;
font-size: 70px;
color: #900C3F;

}